* {
  font-family: "Jersey 15", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
  line-height: 1 !important;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

::-webkit-scrollbar {
  display: none !important;
}